<div class="prepend-6 span-12 last">
  <div class="donate">
    <h1><%= link_to(image_tag('sff_logo.jpg', alt: 'Spring For Food', width: 200), root_path) %></h1>
    <h2>Donate to the Food Bank</h2>
    <p>If you would like to donate funds to support the Spring For Food efforts, the best place to do so is through the Gallatin Valley Food Bank's secure site. Any contribution you can make is helpful, and we sincerely appreciate your generosity. Be sure to select the "Spring For Food" as your program.</p>
    <div class="span-12">
      <%= link_to(image_tag('FoodBankDonate.png', :alt => "Screenshot of Food Bank's donation page", :class => "screenshot"), "https://www.gallatinvalleyfoodbank.org/sub/contribute/donate-online/") %>
    </div>
    <div class="prepend-4 span-4 last">
      <%= link_to 'Donate', 'https://www.gallatinvalleyfoodbank.org/sub/contribute/donate-online/', :class => "donate" %>
    </div>
  </div>
</div>
