<div class="prepend-6 span-12 last">
  <div class="donate">
    <h1><%= link_to(image_tag('logo.jpg', :alt => "The Gift of Food"), root_path) %></h1>
    <h2>Donate To The Gift Of Food</h2>
    If you would like to donate funds, the best place to do so if through the Gallatin Valley Food Bank's secure site. Any contribution you can make is helpful, and we sincerely appreciate your generosity.
    <div class="prepend-4 span-4 last">
      <%= button_to 'Donate', 'https://www.gallatinvalleyfoodbank.org/sub/contribute/donate-online/' %>
    </div>
  </div>
</div>
