.new_neighborhood,
.edit_volunteer {
    margin-bottom:10px;

    label {
        display:inline-block;
        width:110px;
        padding:0;
        margin:0;
    }
    input,
    select {
        margin:0 0 10px 0;
        padding:0;
        border:1px solid #cccccc;
    }
    .mobile_check input {
        margin-left:10px;
    }
    .neighborhood_selector label {
        width:250px;
    }
    .mobile_check label,
    .team_lead_check label,
     {
        width:250px;
        margin:5px 0 10px 0;
    }
    select,
    input[type="text"],
    input[type="number"],
    input[type="tel"],
    input[type="email"] {
        padding:4px;
        width:350px;
    }
    input[type="text"]:focus,
    input[type="number"]:focus,
    input[type="tel"]:focus,
    input[type="email"]:focus {
        border-color:#666666;
    }
    input[type="checkbox"] {
        margin-right:10px;
    }
    input[type="submit"] {
        border:none;
        background: #51ACC1;
        padding: 16px 40px;
        margin:10px 0 10px 0;
        border-radius: 6px;
        color: white;
        font-size: 17px;
        font-family: Helvetica, Arial, Sans-Serif;
        text-decoration: none;
        vertical-align: middle;
        cursor:pointer;
    }
    input[type="submit"]:hover {
        background: #3A828E;
    }
    input[type="submit"]:active {
        background: #3A828E;
    }
    .cancel {
        margin-top:25px;
        display:block;
    }
    .delete_link {
        display:block;
        padding-top:15px;
        font-size:0.7em;
    }
}
