<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You're signed up!</h1>
    <p>Thank you for volunteering for The Gift of Food 2011. If you have questions please feel free to email us at <a href="mailto:info@thegiftoffood.org">info@thegiftoffood.org</a>.</p>
    <p>See you soon</p>
  </body>
</html>
