<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You're signed up!</h1>
    <p>Thank you for volunteering for The Gift of Food 2011. Please expect to receive some emails in the coming weeks that provide further detail about the event. We will inform you of your drop-off locations. We will also let you know where you can pick up your bags. If you have questions about the event or have questions about your map please feel free to email us at <a href="mailto:info@thegiftoffood.org">info@thegiftoffood.org</a>. Good luck putting together a team.</p>

    <p><a href="https://www.facebook.com/event.php?eid=309118829100787">Sign-up and share this event on Facebook!</a></p>

    <p>Thanks!</p>

    <% if !@volunteer.neighborhood.nil? %>
			<p>Map: <a href="http://thegiftoffood.org/volunteers/maps?neighborhood=<%=@volunteer.neighborhood.id %>"><%=@volunteer.neighborhood.name %></a></p>
		<% end %>

    <h2>Event Details:</h2>
    <p>First of all, we would like to thank you for your dedication and commitment to this exciting event. We are looking forward the second Annual Gift of Food Holiday Food Drive and hope to achieve our goal of raising 45,000 pounds of food!   Below is a detailed outline of what to expect related to the event:</p>

		<h3>Week prior to the event: December 2-9, 2011</h3>
		<p><b>Grocery Bags:</b>  we will provide each team with enough grocery bags to distribute at least one to each house during the week leading up to the event.  We will include a handout along with the bags that fully describes the event.  This will go a long ways in creating better awareness for the event.</p>  

		<p><b>Bag Pickup:</b>  bags will be available at Big Sky Western Bank's three locations: downtown, Huffine, and in Belgrade.  Bags will also be available at the Gallatin Valley Food bank for pickup.  If you can't make it to any of these locations, please let us know.</p>

		<h3>Day of the event: December 10, 2011</h3>
		<p><b>Time of Event:</b> The event will officially begin at 10am and last until you finish (1-3 hrs).</p>

		<p><b>Show up Time and Location:</b>  Due to the amount of coordination, we ask that all team leaders show up at between 9:30am-10:30am to collect their lanyards/badges at the assigned drop off location.  We will let you know your drop-off location prior to the event.</p>

		<p><b>Sign In:</b><p>
		<ul>
			<li>Please check in between 9:30am-10:30am, at your designated drop off location, so that you can sign in your team and collect your lanyards</li>
		</ul>

		<p><b>Lanyards:</b></p>
		<ul>
			<li>Lanyards with volunteer badges will be distributed at the day of the event. Please wear these throughout the morning and ensure they are visible (should be worn on the outside of your jacket/coat).</li>
			<li>We would like to collect the lanyards at the end of the event and there will be a "Lanyard Return" box at your designated drop off location</li>
		</ul>

		<p><b>Maps</b></p>
		<ul>
			<li>Maps were sent to you by email.  Please print a copy of the map for your team members.</li>
		</ul>

		<p><b>Emergency Phone number:</b><br /></p>
		<p>In the event of emergency, please call on of the Event Leads:</p>
		<ol>
			<li>Marty: 406-570-0111</li>
			<li>Ron: 406-539-9396</li>
		</ol>

		<p><b>Team structure:</b>  Teams can range in size from two to however many you want - five per team was what we recommended last year.  Ideally, there would be one "designated driver" to help transport all of the food that is collected.  Please be sure to keep in touch with your team throughout the event.</p>

		<p><b>Drop-Off Locations:</b> There will be 5 drop off locations (listed below). You will want to take the collected bags to the drop off location that you are assigned. There will be teams at each location to help unload your vehicle.</p>

		<p><b>Within Bozeman:</b></p>
		<ul>
			<li>Home Depot</li>
			<li>Bogart Park</li>
			<li>MSU Field House - unless there is a conflict with an MSU playoff game</li>
			<li>TBD - Probably Rosauers or the Main Mall</li>
		</ul>

		<p><b>Within Belgrade:</b></p>
		<ul>
			<li>Town Pump (by Albertsons)</li>
		</ul>

		<p><b>Donated Items:</b>  We are on a mission to collect non-perishable food items and/or monetary donations</p>
		<ul>
			<li>Checks:  Checks should  be made out to "Gallatin Valley Food Bank"</li>
			<li>Food:  Non-perishable food items</li>
		</ul>

		<p><b>Protocol for Days Activities</b></p>
		<p><b>Expectations of Team Leads</b></p>
		<ul>
			<li>Pickup lanyards and team information the morning of the event</li>
			<li>Manage your team</li>
			<li>Make sure food is collected throughout your assigned neighborhood</li>
			<li>Designate one person to drive</li>
			<li>Accountable for all team members. If someone will not be able to attend the day's event, you are accountable to find a volunteer to replace their spot, and/or just take a little longer to cover your neighborhood.</li>
			<li>Accountable for making sure your food and checks are dropped off at the assigned drop-off location.</li>
			<li>Please be safe.  Watch out for cars.  Keep an eye on children.  Etc!</li>
		</ul>

		<p><b>Expectations of Team Members:</b></p>
		<ul>
			<li>Please be courteous</li>
			<li>Pick up bags that are left at the front door.  If no bag is left outside, please knock on the door and ask the home owner if they would like to make a food or monetary donation</li>
			<li>Enjoy!</li>
		</ul>

		<p><b>Results:</b></p>
		<p>The final results will be emailed out to you following the event.</p>

		<p><b>Surveys:</b></p>
		<p>We will email out a link to a survey to all volunteers in the days following the event. We look forward to your feedback on how we can improve next year's event.</p>

		<p>Thank you again for all of your help!!!  This is only our second year running this event, so there are sure to be surprises.  We will appreciate your patience and support.</p>

		<p>Please reach out to <a href="mailto:Marty.Ostermiller@RightNow.com">Marty.Ostermiller@RightNow.com</a> if you have any questions.</p>

  </body>
</html>
