// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  font-size:9pt;
}
.unique_emails {
  h4 {
    margin-bottom: 4px;
  }
  .drop_location_select {
    text-align: right;
  }
  textarea {
    height: 100px;
  }
}
