.volunteer_table {
  font-size:9pt;
  width: 100%;
  flex: 0 0 100%;
}
.unique_emails {
  h4 {
    margin-bottom: 4px;
  }
  .drop_location_select {
    text-align: right;
  }
}
textarea {
  height: 100px;
  min-width: 40vw;
}
