/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require blueprint
 *= require_self
 *= require_tree .
 *= require colorbox
*/

@mixin box_shadow($offset, $size) {
    -moz-box-shadow:$offset $offset $size #222;
    -webkit-box-shadow:$offset $offset $size #222;
    box-shadow:$offset $offset $size #222;
}
body {
    background:url(bg.gif);
    font-family:Helvetica, Arial, sans-serif;
    font-size:12pt;
}
.padding {
    background:#ffffff;
    margin:20px auto;
    padding:10px 0;
    width:990px;
    border:2px solid #787878;
    @include box_shadow(5px, 3px);
}
.hidden_thing {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

/* Float Clearing - for browsers that support :after*/
.group:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
/* for IE7 */
*:first-child+html .group{ min-height:1px; }