// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
    font-family:Georgia;
    font-weight:bold;
    border-top:1px solid #9AA3A0;
    padding:5px 0;
    margin:0;
}
h3 {
    font-family:Georgia;
    font-weight:bold;
    padding:5px 0;
    margin:0;
    line-height:1.3em;
}
ul {
    margin:0;
}
ul li {
    margin-bottom:10px;
}
#event_info {
    list-style:none;
    margin:10px 0 0 0;
    padding:5px;
}
#event_info li {
    font-size:1.3em;
}
#event_info li span {
    font-family:Georgia;
    margin-right:10px;
    font-size:1.5em;
    font-weight:bold;
    display:inline-block;
}
.event_photo {
    border:1px solid #000000;
    margin-bottom:20px;
}
.sponsor_image {
    margin-bottom:20px;
}
.non-logo {
    text-align:center;
    margin-top:20px;
    font-family:Georgia;
    font-weight:bold;
}
.error_message {
    font-weight:bold;
    margin:0 0 10px 100px;
    color:#ff0000;
}