// Place all the styles related to the volunteers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_volunteer {
    margin-bottom:10px;
    
    label {
        display:inline-block;
        width:100px;
        padding:0;
        margin:0;
    }
    .assigned_label {
        font-weight:bold;
        display:inline-block;
        margin-bottom:12px;
    }
    input,
    select {
        margin:0 0 10px 0;
        padding:0;
        border:1px solid #cccccc;
    }
    .mobile_check input {
        margin-left:100px;
    }
    .neighborhood_selector {
        margin-top:6px;
    }
    .neighborhood_selector label {
        width:250px;
        margin-bottom:5px;
    }
    .neighborhood_selector select {
        margin-left:100px;
        width:362px;
        height:26px;
    }
    .mobile_check label,
    .team_lead_check label,
    {
        width:250px;
        margin:5px 0 10px 0;
    }
    input[type="text"],
    input[type="number"],
    input[type="tel"],
    input[type="email"] {
        padding:4px;
        width:350px;
    }
    input[type="text"]:focus,
    input[type="number"]:focus,
    input[type="tel"]:focus,
    input[type="email"]:focus {
        border-color:#666666;
    }
    input[type="checkbox"] {
        margin-right:10px;
    }
    .map_thumb {
    }
    .map_thumb img {
        border:1px solid #9AA3A0;
    }
    input[type="submit"] {
       border-top: 1px solid #757575;
       background: #7f111a;
       background: -webkit-gradient(linear, left top, left bottom, from(#813535), to(#7f111a));
       background: -webkit-linear-gradient(top, #813535, #7f111a);
       background: -moz-linear-gradient(top, #813535, #7f111a);
       background: -ms-linear-gradient(top, #813535, #7f111a);
       background: -o-linear-gradient(top, #813535, #7f111a);
       padding: 16px 0;
       margin:10px 0 20px 0;
       width:100%;
       -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
       border-radius: 6px;
       -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
       -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
       box-shadow: rgba(0,0,0,1) 0 1px 0;
       text-shadow: rgba(0,0,0,.4) 0 1px 0;
       color: white;
       font-size: 17px;
       font-family: Helvetica, Arial, Sans-Serif;
       text-decoration: none;
       vertical-align: middle;
       cursor:pointer;
    }
    input[type="submit"]:hover {
       border-top-color: #813535;
       background: #813535;
       color: #b5b5b5;
    }
    input[type="submit"]:active {
       border-top-color: #1b435e;
       background: #1b435e;
    } 
}